<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Cards
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="filter-bar">
    <ion-searchbar class="filter-search" #searchInput
                   (keyup.enter)="addTag(searchInput.value ?? ''); searchInput.value=''"
                   placeholder="Search by tag"></ion-searchbar>
    <ion-select class="filter-category" placeholder="Select Category" [(ngModel)]="selectedCategories"
                (ionChange)="filterCards()" multiple="true">
      <ion-select-option *ngFor="let category of categories" [value]="category">{{ category }}</ion-select-option>
    </ion-select>
  </div>

  <div class="search-tags">
    <ion-chip *ngFor="let tag of tagsList">
      <ion-label>{{ tag }}</ion-label>
      <ion-icon name="close-circle" (click)="removeSearchTag(tag)"></ion-icon>
    </ion-chip>
  </div>

  <div *ngFor="let card of filteredCards; let i = index">
      <app-card-item [card]="card"></app-card-item>
  </div>

</ion-content>
