<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Cards
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar #searchInput (keyup.enter)="searchTags(searchInput.value ?? '')" placeholder="Search by tag"></ion-searchbar>

    <ion-card *ngFor="let card of cards">
      <ion-card-header>
        <ion-card-subtitle>{{ card.tag }}</ion-card-subtitle>
        <ion-card-title>{{ card.question }}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        {{ card.category }}
      </ion-card-content>

      <ion-button fill="clear">Show answer</ion-button>
    </ion-card>

</ion-content>
